$border:solid 1px white;




*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family:monospace;
    transition: all 0.3s ease-in-out; 
}
body{
    margin: 0%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: rgb(0, 0, 0);
    overflow-x:hidden;
}
.container{
    margin: 0 auto;
    padding: 0 40px ;
}
/* ===========start screen reprosition============= */

/* Big */
@media (min-width: 1200px) { .container{
    width: 1170px;
}
}

/* Meidium */
@media (min-width: 992px) and (max-width: 1119px) { .container{
    width: 970px;
}
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) { .container{
    width: 750px;
}
}
/* ===========  End screen reprosition=============== */


/*===========strat nav bar==============*/  
.nav-bar{
    position: absolute;
  top: 1%;
  left: 0%;
  z-index: 1;
  width: 100%;
  
  .container{
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo{ 
            a{ 
                font-size: 28px;
                color: white;
                font-size: 25px;
                border-bottom: 3px;
                &:hover{ 
                    color: black !important; 
                }
            }
        }

        .links{
            ul{
             display: flex;
             justify-content: space-evenly;
             gap: 8px;
             flex-direction: row-reverse;
                 .home{
                     a{
                        background: black;
                        border-radius: 0.5rem;
                        width: fit-content;
                        height: fit-content;
                        padding: 0 4.5px;
                        display: block;

 
 
                     &:hover{
                         background-color: white;
                         color: black;
                     }
                     }
                 }
                 li{
                 
                     a{
                     font-weight: bold;
                     font-family: "Font Awesome 6 Free";
                     font-size: 22px;
                     letter-spacing: 1px;
                     color: white;
                     &:hover{
                         color: black;
                   }
                     }
                 }
             }            
         }
             

    }
}


/* Big */
@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
    .nav-bar{
        
        .container{
            .links{
                ul{
                    li{
                        padding-top:3px;
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}


/* Small */
@media (max-width: 768px) {
    .nav-bar {
        .container{
            .links{
                display: none;
            }
        }
    }
}




// ===============start landing page==============
.landing-page{
    border-bottom:solid 1px white ;
    margin-bottom: 2rem;
    height: 100vh;
    background-image: url('../img/thumb-415348697_KFCT2xqP_violin_in_orchestra_1110x741.jpg');      
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
.background-image{
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #0f0e0e 0%, rgba(6, 5, 7, 0.35) 99%, rgba(8, 7, 10, 0.5) 100%);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: 0px 270px;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff9f9;
    h1{
        font-size: 62px
    }
    h2{
            font-size: 24px;
            letter-spacing: 2px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        a{
            width: fit-content;
            height: fit-content;
            color: #0000ff9c;
            background: #ffffff4f;
            border-radius: 7px;
            font-size: 28px;
        }
}
}

/* Big */
@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
    .landing-page{
        .container{
        h2{
            text-align: center;
            font-size: 25px;


        }
        }
    }
}


/* Small */
@media (max-width: 768px) {
    .landing-page {
        .container {
            h1{
                font-size: 30px;
                width: 300px;
                text-align: center;
            }
            h2{
                font-size: 20px;
                
                width: 90%;
                text-align: center;
            }
        }

    }
    
}
// ===============end landing page==============

// ==============start about section=========
.about{
    .container{
        
        border-bottom: solid 1px white;
        margin-bottom: 2rem;
        padding-bottom: 4rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        h1{
            margin: 30px;
        }
        .details{
            display: flex;
            justify-content: space-between;

            .sells{
                width: 500px ;
                height: 250px;
                border: solid 1px white;
                border-radius:10px ;
                p{
                    position: relative;
                    top: 33%;
                    left: 0%;
                }
            }
            .courses{
                width: 500px ;
                height: 250px;
                border: solid 1px white;
                border-radius:10px ;
                
                    p{
                        position: relative;
                        top: 33%;
                        left: 0%;
                    }
            
                
            }
        }
    }
}







/* Big */
@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
    .about{
        .container{
            .details{
                display: flex;
                    flex-direction: column;

                    .sells{
                        padding: 0 10px;
                        width:98%;
                        font-size: 21px;
                    }
                    .courses{
                        padding: 0 10px;
                        width: 98%;
                        font-size: 21px;
                        padding-top:20px ;
                    }
            
            }
        }
    }
}


/* Small */
@media (max-width: 768px) {
        .about{
            .container{
                .head{
                    font-size:20px;
                    font-weight: 900;
                }

                .details{
                    display: flex;
                    flex-direction: column;

                    .sells{
                        width:98%;
                        font-size: 16px;
                    }
                    .courses{
                        width: 98%;
                        font-size: 16px;
                        padding-top:20px ;
                    }
                }
            }
        }
    }


// ==============end about section=========

// =============start sells section===========
.sells{
    margin-bottom: 6rem;
    .container{
        border-bottom:$border;
        padding-bottom: 4rem;
        .sells-title{
            text-align: center;
            text-transform: capitalize;
            font-size: large;
            margin-bottom: 2rem;
        }
        .violin-container{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-evenly;
            .one{
                width: 300px;
                .discription{
                    text-transform: capitalize;
                    font-size: x-large !important;
                    background-color: black;
                    height: 44px;
                    width: 100%;
                    padding: 0 23px;
                    font-size: 13.4px;
                    cursor: pointer;
                    border: $border;
                    padding-top: 4px;

                        &:hover{
                            background-color: white;
                        }
                        &:hover a{color: black;}
                        
                            
                        
                        a{
                        color: white;
                        padding-left: 7px;
                        
                    }
                }
                .img-container{
                    height: 92%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .two{
                width: 300px;
                .discription{
                    text-transform: capitalize;
                    font-size: x-large !important;
                    background-color: black;
                    height: 44px;
                    width: 100%;
                    padding: 0 23px;
                    font-size: 13.4px;
                    cursor: pointer;
                    border: $border;
                    padding-top: 4px;

                        &:hover{
                            background-color: white;
                        }
                        &:hover a{color: black;}
                        
                            
                        
                        a{
                        color: white;
                        padding-left: 7px;
                        
                    }
                }
                .img-container{
                    height: 92%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

            }
            .three{width: 300px;
                .discription{
                    text-transform: capitalize;
                    font-size: x-large !important;
                    background-color: black;
                    height: 44px;
                    width: 100%;
                    padding: 0 23px;
                    font-size: 13.4px;
                    cursor: pointer;
                    border: $border;
                    padding-top: 4px;

                        &:hover{
                            background-color: white;
                        }
                        &:hover a{color: black;}
                        
                            
                        
                        a{
                        color: white;
                        padding-left: 7px;
                        
                    }
                }
                .img-container{
                    height: 92%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }


    }
}

@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
.sells{
    .container{
        .sells-title{
            .top{font-size: 28px;
                font-weight: 500;
            }
            .botton{
                font-size: 22px;
                font-weight: 900;
            }
            
        }
    }
}
}


/* Small */
@media (max-width: 768px) {
.sells{
    .container{
        .sells-title{
            .top{font-size: 20px;
                font-weight: 500;
            }
            .botton{
                font-size: 22px;
                font-weight: 900;
            }
            
        }

        .violin-container{
            gap: 15px;
            .one {
                .discription{
                    font-size: 12px !important;
                    padding: 13px 0px !important;
                    text-align: center;
                    &:hover{
                        background: black;
                    }
                    &:hover a{
                        color: white;
                    }
                    
                }
            }
            .two{
                .discription{
                    font-size: 12px !important;
                    padding: 13px 0px !important;
                    text-align: center;
                    &:hover{
                        background: black;
                    }
                    &:hover a{
                        color: white;
                    }
                    
                }
            }
            .three{
                .discription{
                    font-size: 12px !important;
                    padding: 13px 0px !important;
                    text-align: center;
                    &:hover{
                        background: black;
                    }
                    &:hover a{
                        color: white;
                    }
                    
                }
            }
        }
    }
}

}

// ============end sells section==============


.coures{
    .container{
        border-bottom: $border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        padding-bottom: 7.5rem;
        .title{
            width: 300px;
            text-align: center;
            margin-bottom: 6rem;
            text-transform: uppercase;
            h1{
                font-size: 60px;
                border: $border;
                border-radius: 10px;
            }
        }
        .div-flex{
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10rem;
            .level-one{
                position: relative;
                
                .img-container{
                    
                    width: 30rem;
                    height: 39rem;
                    
                    img{
                        
                        width: 100%;
                        height: 100%;
                    }
                    
                    
                }
                
                .box{ position: absolute;
                    top: 0;
                    left: 0; 
                    background-color: #0f0e0e;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                    
                    .title-one{
                    border: $border;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: large;
                }
                
                .course-content{
                    width: 100%;
                    .title-content{
                        text-align: start;
                        text-transform: capitalize;
                        font-size: x-large;
                    }
                    .content{
                        font-size: xx-large;
                        p{
                            padding: 1rem;
                        }
                    }
                    .registration{
                        width: 100%;
                        background: white;
                        height: 40px;
                        text-align: center;
                        padding: 6px 0;
                        translate: 0px 89px;
                        a{
                            font-size: 20px;
                            text-transform: uppercase;
                            color: black;
                        }
                    }
                }
            }
            
            
        }
        .level-two{ 
            position: relative;
            .img-container{
                width: 30rem;
                height: 39rem;              
                img{
                    
                    width: 100%;
                    height: 100%;
                }
                
                
            }

            .box{ position: absolute;
                top: 0;
                left: 0; 
                background-color: #0f0e0e;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                opacity: 0.9;
                
                .title-one{
                    border: $border;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: large;
                }
                
                .course-content{
                    width: 100%;
                    .title-content{
                        text-align: start;
                        text-transform: capitalize;
                        font-size: x-large;
                    }
                    .content{
                        font-size: xx-large;
                        p{
                            padding: 1rem;
                        }
                    }
                    .registration{
                        width: 100%;
                        background: white;
                        height: 40px;
                        text-align: center;
                        translate: 0 64px;
                        padding: 6px 0;                          
                        a{
                            font-size: 20px;
                            text-transform: uppercase;
                            color: black;
                        }
                    }
                }
            }
        }   
       
      
    }
}

}



/* Big */
@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
    .coures{
        .container{
            .title{
                h1{
                    font-size: 45px;
                }
                width: 400px;
            
            }

            .div-flex{
                justify-content: center;
                gap: 4rem;
            }



        }
    }
}


/* Small */
@media (max-width: 768px) {
.coures{
    .container{
        .title{
            width: 80%;
            h1{
                font-size: 35px;
                
            }
    }

    .div-flex{
        justify-content: center;
        gap: 4rem;
        .level-one{width: 90%;
            .img-container{
                width: 100%;
            }
            .box{
                .title-one{
                    h1{

                        font-size: x-large;
                    }
                }
                .course-content{
                    .title-content{
                        padding-top: 9px;
                        font-size: 12px;
                    }
                    .content{
                        .one{
                            margin-top: 4rem;
                            height: 82px;
                            font-size: 17px;
                        }
                        p{
                            font-size:18px;
                        }
                    }
                    .registration{
                         translate: 0 129px;;
                    }
                }
            }
        
            
        }
        .level-two{width: 90%;
            .img-container{
                width: 100%;
            }
            .box{
                .title-one{
                    h1{

                        font-size: x-large;
                    }   
                }
                .course-content{
                    .title-content{
                        padding-top: 9px;
                        font-size: 12px;
                    }
                    .content{
                        p{

                            font-size:18px;
                        }
                    }
                    .registration{
                        translate: 0 157px;

                    }
                }
            }
        }
    }
}
}}

// =============end course section==============



// =============start call section==============

.call-us{
    .container{

        display: grid;
        justify-items: center;
        margin-bottom: 10rem;
        h5{
            margin-top: 4rem;
            text-transform: capitalize;
            font-size: xx-large;
            font-weight: inherit;
        }
        h1{
            margin-top: 2rem;
            margin-bottom: 2.5rem;
            background-color: white;
            color: black;
            border-radius: 14px;
            padding: 5px;
            text-transform: capitalize;
            font-size: xx-large;
        }
        .input-container{
            form{ 
                position: relative;
                display: flex;
                flex-direction: column;
                
                .username{
                    input{

                        width: 318px;
                        height: 50px;
                        border-radius: 10px;
                        border: none;
                        margin-bottom: 2rem;
                    }

                }
                .email{
                    input{

                        width: 318px;
                        height: 50px;
                        border-radius: 10px;
                        border: none;
                        margin-bottom: 2rem;
                    }

                }
                .text-area{
                    textarea{
                        width: 318px;
                        border-radius: 10px;
                        border: none;
                        margin-bottom: 2rem;
                    }
                    }
                }
                button{
                    margin-left: 33%;
                    display: block;
                    border: none;
                    background: white;
                    width: 100px;
                    height: 45px;
                    border-radius: 10px;
                    margin-top: 1.5rem;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: capitalize;
                    cursor: pointer;
                    &:hover{
                        background: black !important;
                        color: white;
                    }
                }

            }
        }
    }


        /* Big */
@media (max-width: 1200px) { 
}

/* Meidium */
@media (max-width: 992px) { 
}


/* Small */
@media (max-width: 768px) {
    .call-us {
        .container{
            h5{
                font-size: 17px;
            }
            h1{
                font-size: 20px;
            }
            .input-container{
                width: 80%;
                form{

                    .username{

                        input{
                            width: 100%;
                        }
                    }
                    .email{
                        input{
                            width: 100%;
                        }
                    }
                    .text-area{
                        textarea{
                            width: 100%;
                        }
                    }
                    button{
                        margin: 0 33%;
                        width: 80px;
                        height: 35px;
                  &:hover{
                    color: black;
                    background-color: #ffffff !important;
                  }
                    }
                }
            }
            


        } 

    }
}

// ==============end call section=============
